@import "./variables.scss";

.icon {
    font-size: $icon;
    color: #fff;
}

.btn-1, .btn-2 {
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.btn-1 {
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: .8rem;
    font-size: $normal;
    background: transparent;
    &:hover {
        background: $background-2-color;
    }
}

.btn-2 {
    border: 1px solid $background-2-color;
    border-radius: .2rem;
    padding: .5rem;
    font-size: $info;
    background: $background-2-color;
    &:hover {
        background: lighten($background-2-color, 10);
    }
}
