:root {
    --header-height: 3rem;  /* Alto del Header */
    --padding: 1rem;        /* Padding principal */
    --background-0: #fff;   /* Color de fondo de la pagina */
    --background-1: transparent;    /* Color del Header */
    --background-2: #586b6bff;      /* Color de fondo 2 de la pagina */
    --text-1: #ddd;         /* Color de texto en el Header y el Poster */
    --text-2: #2b3232ff;    /* Color de texto en el Main */
    --border: #9ca4a4e6;    /* Border del header */
    --title: 1.3rem;        /* Título principal de la página */
    --subtitle: 1.1rem;     /* Título secundario de la página */
    @media screen and (min-width: 768px) {
        --padding: 2rem;
        --header-height: 4rem;
        --title: 2rem;
        --subtitle: 1.4rem;
    }
    @media screen and (min-width: 1024px) {
        --padding: 10rem;
    }
    @media screen and (min-width: 1200px) {
        --padding: 15rem;
    }
}

/* Color de fondo */
$background-1-color: #fff;
$background-2-color: #245b5bff;

/* Color de texto */
$text-1-color: darken(#aaa, 50);

/* Tamaño de texto */
$logo: 1.3rem;
$icon: 2rem;
$normal: 1rem;
$info2: .95rem;
$info: .92rem;
$small: .8rem;

/* Colores varios */
$menu: lighten(#000, 25);
