<footer class="home__footer">
    <section class="home__footer__about_us">
        <h3 class="home__footer__title">Sobre nosotros</h3>
        <p class="footer__about-us__text">
        OCMG - Oficina de Cooperación Marroquí-Guineana que se dedica
        principalmente a facilitar todo tipo de gestiones necesarias para
        nuestros clientes a fin de poder instalar, viajar, comprar o tratarse
        médicamente en ambos países con total seguridad y eficacia.
        </p>
    </section>
    <section class="home__footer__service">
        <h3 class="home__footer__title">Servicios</h3>
        <ul class="footer__service__list">
            <li class="footer__service__item">
                <a href="/servicio/inmobiliaria">Inmobiliaria</a>
            </li>
            <li class="footer__service__item">
                <a href="/servicio/medico">Médico</a>
            </li>
            <li class="footer__service__item">
                <a href="/servicio/turismo">Turismo</a>
            </li>
            <li class="footer__service__item">
                <a href="/servicio/logistica-y-aduanas">Logística y Aduanas</a>
            </li>
            <li class="footer__service__item">
                <a href="/servicio/gestorias">Gestorías</a>
            </li>
        </ul>
    </section>
    <section class="home__footer__contact">
        <h3 class="home__footer__title">Contactos</h3>
        <span class="footer__contact__item">
            222 047 560
        </span>
        <span class="footer__contact__item">
            comercial@ocmg.com
        </span>
    </section>
    <p class="home__footer__copy">&copy; Todos los derechos reservados | 2021</p>
</footer>
