<header class="home__header darken">
    {{> menu_icon}}
    <h1 class="home__header__logo">OCMG</h1>
    {{> home_header_nav}}
    <div class="home__header__theme">
        <span class="header__theme__icon">@</span>
    </div>
</header>
