<div class="home__poster">
    <h2 class="home__poster__title">
        Facilitamos todo Tipo de Gestiones Necesarias para Nuestros
        Clientes
    </h2>
    <span class="home__poster__text">
        Con total seguridad y eficacia en Marruecos y Guinea.
    </span>
    <a href="/" class="home__poster__button">Contáctanos</a>
</div>
