<main class="home__main">
    <h2 class="home__main__title">Servicios</h2>
    <section class="home__main__service">
        <h3 class="main__service__title">OCMG Inmobiliaria</h3>
        <article class="main__service__item">
            <p class="main__service__text slide-in slide-in from-left">
                OCMG dispone de especialistas en Inversiones Inmobiliarias y
                Alquileres en Marruecos. Que se preocupan por aportar
                eficacia al momento.
            </p>
            <figure class="main__service__img slide-in from-right">
                <img src="/img/inmobiliaria-1.jpg" alt="">
            </figure>
            <a href="/#" class="main__service__link slide-in from-left">
                Leer más
            </a>
        </article>
    </section>
    <section class="home__main__service">
        <h3 class="main__service__title">OCMG Médico</h3>
        <article class="main__service__item">
            <p class="main__service__text slide-in from-right">
            OCMG ofrece atención médica especializada y cualificada a todos
            los extranjeros y nacionales. Con un equipo de médicos y
            especialistas Marroquíes.
            </p>
            <figure class="main__service__img slide-in from-left">
                <img src="/img/medico-1.jpg" alt="">
            </figure>
            <a href="/#" class="main__service__link slide-in from-right">
                Leer más
            </a>
        </article>
    </section>
    <section class="home__main__service">
        <h3 class="main__service__title">OCMG Turismo</h3>
        <article class="main__service__item">
            <p class="main__service__text slide-in from-left">
            OCMG le ofrece el mejor servicio, en las mejores condiciones de
            precio y hacer que su estancia sea extraordinaria.
            </p>
            <figure class="main__service__img slide-in from-right">
                <img src="/img/turismo-1.jpg" alt="">
            </figure>
            <a href="/#" class="main__service__link slide-in from-left">
                Leer más
            </a>
        </article>
    </section>
    <section class="home__main__service">
        <h3 class="main__service__title">OCMG Logística y Aduanas</h3>
        <article class="main__service__item">
            <p class="main__service__text slide-in from-right">
            OCMG ofrece una asesoría sobre como exportar o importar sus
            mercancías o bienes personales por tierra, mar o aire a cualquier
            destino.
            </p>
            <figure class="main__service__img slide-in from-left">
                <img src="/img/logistica-1.jpeg" alt="">
            </figure>
            <a href="/#" class="main__service__link slide-in from-right">
                Leer más
            </a>
        </article>
    </section>
    <section class="home__main__service">
        <h3 class="main__service__title">OCMG Gestorías</h3>
        <article class="main__service__item">
            <p class="main__service__text slide-in from-left">
            OCMG se encarga de realizar todas las documentaciones a nivel de
            las contituciones jurídicas, económicas y privadas.
            </p>
            <figure class="main__service__img slide-in from-right">
                <img src="/img/gestoria-1.jpg" alt="">
            </figure>
            <a href="/#" class="main__service__link slide-in from-left">
                Leer más
            </a>
        </article>
    </section>
</main>
