<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCMG - Oficina de Coperación Marroqui-Guineana</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <script defer src="/js/index.js"></script>
</head>
<body id="document_body">
    {{{body}}}
</body>
</html>
