<section class="home__main__contact">
    <span class="main__contact__icon icon-phone"></span>
    <div class="main__contact__info">
        <h4 class="home__main__title main__contact__title">
            ¿Tiene alguna pregunta o desea ayuda con otro servicio?
        </h4>
        <p class="main__contact__text">
        Contáctanos por correo electrónico o en nuestras redes sociales y le
        atenderemos lo antes posible. <br> O solo hasnos una llamada al
        (+240) 222 047 560
        </p>
    </div>
</section>
