<div class="home__poster" id="poster">
    <ul class="home__poster__list">
        <input type="radio" name="poster_item_input" checked>
        <li class="home__poster__item img1"></li>
        <input type="radio" name="poster_item_input">
        <li class="home__poster__item img2"></li>
        <input type="radio" name="poster_item_input">
        <li class="home__poster__item img3"></li>
    </ul>
    <div class="home__poster__inputs">
        <input type="radio" name="poster_input" index="0" id="item-1" checked>
        <label for="item-1" class="home__poster__circle"></label>
        <input type="radio" name="poster_input" index="1" id="item-2">
        <label for="item-2" class="home__poster__circle"></label>
        <input type="radio" name="poster_input" index="2" id="item-3">
        <label for="item-3" class="home__poster__circle"></label>
    </div>
    <div class="home__poster__infos">
        <input type="radio" name="poster_info_input" checked>
        <div class="home__poster__info">
            <h2 class="home__poster__title">
                Facilitamos todo Tipo de Gestiones Necesarias para Nuestros
                Clientes
            </h2>
            <span class="home__poster__text">
                Con total seguridad y eficacia en su tránsito Guinea-Marruecos.
            </span>
            <a href="#" class="btn-1 home__poster__button">Contáctanos</a>
        </div>
        <input type="radio" name="poster_info_input">
        <div class="home__poster__info">
            <h2 class="home__poster__title">
               Tu Agencia de confianza, OCMG
            </h2>
            <span class="home__poster__text">
                Con total seguridad y eficacia en su tránsito Guinea-Marruecos.
            </span>
            <a href="#" class="btn-1 home__poster__button">Contáctanos</a>
        </div>
        <input type="radio" name="poster_info_input">
        <div class="home__poster__info">
            <h2 class="home__poster__title">
               Te ofrecemos servicios de calidad
            </h2>
            <span class="home__poster__text">
                Con total seguridad y eficacia en su tránsito Guinea-Marruecos.
            </span>
            {{!--  <a href="#" class="btn-1 home__poster__button">Contáctanos</a>  --}}
            <div class="btn-1 home__poster__button">Contáctanos</div>
        </div>
    </div>
</div>
