<section class="home__main__welcome">
    <div class="main__welcome__info">
        <h3 class="main__welcome__title">
            ¡Bienvenido a Nuestro Sitio!
            <span class="underscore"></span>
        </h3>
        <p class="main__welcome__text">
        El lugar donde podrás encontrar un abanico de servicios para satisfacer
        tus necesidades.
        </p>
    </div>
</section>
