<section class="home__main__about_us">
    <figure class="main__about_us__img">
        <img src="/img/ocmg" alt="OCMG">
    </figure>
    <div class="main__about_us__info">
        <h3 class="home__main__title main__about_us__title">¿Qué es OCMG?</h3>
        <p class="main__about_us__text">
        OCMG es una Oficina de Cooperación Marroquí-Guineana que se dedica
        principalmente a facilitar todo tipo de gestiones necesarias para
        nuestros clientes a fin de poder instalar, viajar, comprar o tratarse
        médicamente en ambos países con total seguridad y eficacia.
        </p>
    </div>
</section>
