<section class="home__main__more_info">
    <article class="main__more_info__item">
        <h4 class="home__main__title main__more_info__title">
            ¿Por qué elegirnos?
        </h4>
        <p class="main__more_info__text">
        OCMG posee un personal altamente cualificado y socios capacitados en
        todos los sectores para garantizar a nuestros clientes la prestación
        de los mejores servicios.
        </p>
    </article>
    <article class="main__more_info__item">
        <h4 class="home__main__title main__more_info__title">
            Nuestra Expectativa
        </h4>
        <p class="main__more_info__text">
        Nuestra razón principal de ser es reforzar la colaboración entre todos
        los países africanos generalmente, y especialmente entre Marruecos y
        Guinea Ecuatorial.
        </p>
    </article>
</section>
