<footer class="home__footer">
    <div class="home__footer__contact">
        <span class="home__footer__phone">(+240) 222 047 560</span>
        <ul class="home__footer__social_networks">
            <li class="home__footer__social_network">
                <a href="https://api.whatsapp.com/send?phone=+240222047560"
                   class="icon-whatsapp"></a>
            </li>
            {{!--  <li class="home__footer__social_network icon-facebook"></li>  --}}
        </ul>
    </div>
    <span class="home__footer__copy">
        &copy; Todos los derechos reservados | 2021
    </span>
</footer>
