<section class="home__main__services">
    <h3 class="home__main__title main__services__title">Nuestros Servicios</h3>
    <div class="main__services__container">
        <article class="main__services__item">
            <figure class="main__services__img">
                <img src="/img/inmobiliaria/inmobiliaria-1" alt="">
            </figure>
            <div class="main__services__info">
                <h4 class="main__services__title">Inmobiliaria</h4>
                <p class="main__services__text">
                OCMG Inmobiliaria es una empresa especialista en Inversiones
                Inmobiliarias y Alquileres en Marruecos
                </p>
            </div>
            <a href="/servicio#inmobiliaria" class="main__services__link">
                Más
            </a>
        </article>
        <article class="main__services__item">
            <figure class="main__services__img">
                <img src="/img/medico/medico-1" alt="">
            </figure>
            <div class="main__services__info">
                <h4 class="main__services__title">Asistencia Médica</h4>
                <p class="main__services__text">
                OCMG brinda apoyo total para la estadía médica, ya sea para
                cirugía plástica, reconstrucción, obesidad, así como cirugía
                en general.
                </p>
            </div>
            <a href="/servicio#medico" class="main__services__link">
                Más
            </a>
        </article>
        <article class="main__services__item">
            <figure class="main__services__img">
                <img src="/img/turismo/turismo-1" alt="">
            </figure>
            <div class="main__services__info">
                <h4 class="main__services__title">Turismo</h4>
                <p class="main__services__text">
                Nuestro objetivo es ofrecerle el mejor servicio, en las mejores
                condiciones de precio y hacer que su instancia sea
                extraordinaria.
                </p>
            </div>
            <a href="/servicio#turismo" class="main__services__link">
                Más
            </a>
        </article>
        <article class="main__services__item">
            <figure class="main__services__img">
                <img src="/img/logistica/logistica-1" alt="">
            </figure>
            <div class="main__services__info">
                <h4 class="main__services__title">Logística y Aduanas</h4>
                <p class="main__services__text">
                OCMG ofrece un servicio de Agencia de transporte y operador
                logístico, especializados en el transporte nacional e
                internacional.
                </p>
            </div>
            <a href="/servicio#logistica" class="main__services__link">
                Más
            </a>
        </article>
        <article class="main__services__item">
            <figure class="main__services__img">
                <img src="/img/gestoria/gestoria-1" alt="">
            </figure>
            <div class="main__services__info">
                <h4 class="main__services__title">Gestorías</h4>
                <p class="main__services__text">
                OCMG se encarga de realizar todas las documentaciones a nivel
                de las instituciones jurídicas, económicas y privadas.
                </p>
            </div>
            <a href="/servicio#gestoria" class="main__services__link">
                Más
            </a>
        </article>
    </div>
</section>
