<main class="home__main">
    {{> home/home_main_welcome }}
    {{> home/home_main_about_us }}
    {{> home/home_main_services }}
    {{> home/home_main_contact }}
    {{> home/home_main_more_info }}
</main>
