<main class="about_us__main">
    <h2 class="about_us__main__title">Sobre nostros</h2>
    <p class="about_us__main__info">
    OCMG posee personal altamente calificado y socios capacitados en todos los
    serctores.
    </p>
    <section class="about_us__main__container">
        <article class="about_us__main__item opacity-in">
            <figure class="about_us__main__img">
                <img src="" alt="">
            </figure>
            <span class="about_us__main__text">
                Especialistas en Inversiones Inmobiliarias
            </span>
        </article>
        <article class="about_us__main__item opacity-in">
            <figure class="about_us__main__img">
                <img src="" alt="">
            </figure>
            <span class="about_us__main__text">
                Médicos especialistas
            </span>
        </article>
        <article class="about_us__main__item opacity-in">
            <figure class="about_us__main__img">
                <img src="" alt="">
            </figure>
            <span class="about_us__main__text">
                Turistas
            </span>
        </article>
        <article class="about_us__main__item opacity-in">
            <figure class="about_us__main__img">
                <img src="" alt="">
            </figure>
            <span class="about_us__main__text">
                Logistica
            </span>
        </article>
    </section>
    <a href="#" class="btn-1 home__poster__button">Contáctanos</a>
</main>
