@import "../../variables.scss";

.display__menu {
    position: fixed;
    z-index: 100000; // 100.000
    top: 0;
    left: -100%;
    bottom: 0;
    width: 90%;
    margin-top: var(--header-height);
    padding: 1rem 0;
    background: var(--background-0);
    transition: left .3s ease-in;
    box-shadow: 1px 0 5px 0 var(--text-1);
    @media screen and (min-width: 768px) {
        display: none;
    }
    &.active {
        left: 0;
    }
    .display__menu__list {
        .display__menu__item {
            &.active .display__menu__link {
                background: $background-2-color;
                color: #ddd;
                &::before {
                    color: #ddd;
                }
                &::after {
                    transform: rotate(180deg);
                }
            }
            .display__menu__link {
                position: relative;
                display: flex;
                align-items: flex-end;
                width: 100%;
                padding: .7rem 1rem;
                color: var(--text-2);
                font-size: $subtitle;
                transition: background .3s ease-in;
                &::after {
                    transform: rotate(0);
                }

                &::before {
                    margin-right: 1rem;
                    color: var(--text-2);
                }
                &::after {
                    margin-bottom: .3rem;
                }
            }
            .display__menu__options {
                padding-left: 1rem;
                background: var(--text-2);
                height: 0;
                overflow: hidden;
                transition: height .3s ease-in;
                .display__menu__option {
                    &:last-child a {
                        padding-bottom: 1rem;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        padding-top: 1rem;
                        color: var(--background-0);
                    }
                }
            }
        }
    }
}
