@import "../../variables.scss";

.display__menu {
    position: fixed;
    z-index: 10000000000;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 90%;
    background: var(--background-0);
    transition: left .3s ease-in;
    box-shadow: 1px 0 10px 0 var(--text-1);
    &.active {
        left: 0;
    }
    .display__menu__header {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid var(--text-1);
        .display__menu__exit {
            $size: 1.8rem;
            width: $size;
            height: $size;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ddd;
            font-size: $title;
            color: inherit;
        }
        .display__menu__title {
            font-size: $logo;
            font-weight: 400;
            color: var(--text-2);
        }
    }
    .display__menu__container {
        padding: 1rem;
        .display__menu__list {
            .display__menu__item {
                .display__menu__link {
                    display: inline-block;
                    width: 100%;
                    padding: .5rem 0;
                    color: var(--text-2);
                    font-size: $subtitle;
                    .menu__link__list {
                        margin-left: 1rem;
                        margin-top: .3rem;
                        transition: height 1s ease-in;
                        .menu__link__item a {
                            display: inline-block;
                            width: 100%;
                            padding: .3rem 0;
                            color: var(--text-2);
                        }
                    }
                }
            }
        }

    }
}
