@import "../../variables.scss";

.home__footer {
    background: var(--background-2);
    .home__footer__contact {
        padding: 1rem var(--padding);
        display: flex;
        justify-content: space-between;
        .home__footer__phone {
            font-size: $normal + .05rem;
            color: var(--background-0);
        }
        .home__footer__social_networks {
            display: flex;
            .home__footer__social_network {
                margin: 0 1rem;
                cursor: pointer;
                a {
                    color: var(--background-0);
                    font-size: var(--subtitle);
                }
            }
        }
    }
    .home__footer__copy {
        --text-2: #3b4b4bff;
        display: inline-block;
        width: 100%;
        padding: 1rem var(--padding);
        color: var(--background-0);
        text-align: center;
        font-size: $info2;
        background: var(--text-2);
        &.darken {
            --text-2: #fff;
        }
    }
}
