@import "../../variables.scss";
@import "./menu_icon.scss";
@import "./home_header_nav.scss";
@import "./home_header_theme.scss";

.home__header {
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--padding);
    display: flex;
    color: var(--text-1);
    background: var(--background-1);
    box-shadow: 0 1px 5px 0 var(--border);
    transition: background .3s ease-in, border .3s ease-in;
    &.active {
        --background-1: #fff;
        --text-1: #636d65ff;
        --border: #9ca4a4e6;
    }
    &.darken {
        --text-1: #ddd;
        &.active {
            --background-1: #091717ff;
            --border: #137272ff;
        }
    }
    .home__header__logo {
        align-self: center;
        font-weight: 400;
        a {
            display: inline-block;
            font-size: $logo;
            color: var(--text-1);
        }
    }
    &.darken {
        .home__header__nav .home__header__link .header__link__list {
            box-shadow: 0 0 10px 1px rgba(#ddd, .2);
        }
    }
}
