@import "../../variables.scss";

.home__header__nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-left: 2rem;
        /* Pipe entre el Logo y la Navegacion */
        &::before {
            content: "|";
            margin-right: 2rem;
            font-weight: 600;
            color: var(--text-1);
        }
        .home__header__link {
            position: relative;
            z-index: 10000;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 .5rem;
            padding: 1rem .5rem;
            color: var(--text-1);
            font-size: $info2 + .02rem;
            cursor: pointer;
            @media screen and (min-width: 1024px) {
                padding: 1rem;
            }
            /* Para comprimir la linea horizontal bajo cada item */
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                height: 2px;
                background: var(--text-1);
                animation: link-slide-out .25s ease-in forwards;
                @keyframes link-slide-out {
                    0% {
                        width: 100%;
                    }
                    100% {
                        width: 0;
                    }
                }
            }
            .header__link__list {
                position: absolute;
                z-index: 100000;
                top: 100%;
                padding: 1rem;
                min-width: auto;
                transform: scale(0);
                opacity: 0;
                transition: transform .2s ease-in, opacity .3s ease-in;
                box-shadow: 0 0 10px 1px rgba(#000, .2);
                background: var(--background-0);
                .header__link__item a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    white-space: nowrap;
                    padding: .5rem;
                    font-size: $info2;
                    color: var(--text-2);
                    /* Para comprimir la linea vertical al lado de cada
                    elemento de la lista de opciones */
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 2px;
                        background: var(--text-1);
                        animation: item-slide-out .25s ease-in forwards;
                        @keyframes item-slide-out {
                            0% {
                                height: 100%;
                            }
                            100% {
                                height: 0;
                            }
                        }
                    }

                    &:hover {
                        /* Para expandir la linea vertical al lado de cada
                        elemento de la lista de opciones */
                        &::before {
                            animation: item-slide-in .25s ease-in forwards;
                            @keyframes item-slide-in {
                                0% {
                                    height: 0;
                                }
                                100% {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &:hover, &.active {
                /* Se ha usado before porque el after ya esta tomado en el
                 triangulito de servicio */
                &::before {
                    /* Para expandir la linea */
                    animation: link-slide-in .25s ease-in forwards;
                    @keyframes link-slide-in {
                        0% {
                            width: 0;
                        }
                        100% {
                            width: 100%;
                        }
                    }
                }
                .header__link__list {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
}
