@import "../../variables.scss";
@import "./home_main_welcome.scss";
@import "./home_main_about_us.scss";
@import "./home_main_services.scss";
@import "./home_main_contact.scss";
@import "./home_main_more_info.scss";

.home__main {
    margin-top: 1rem;
    .home__main__title {
        position: relative;
        font-weight: 600;
        font-size: var(--subtitle);
        text-transform: uppercase;
        &::before {
            content: "";
            position: absolute;
            bottom: 1rem;
            display: inline-block;
            height: 2px;
            width: 4rem;
            background: var(--background-0);
        }
    }
}
